<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=
  Advent+Pro">
  <link rel="stylesheet" type="text/css"href="http://fonts.googleapis.com/css?family=
  Give+You+Glory">
</head>
<body>
<center>
<img src="http://students.flatironschool.com/img/the-flatiron-school-logo-sm-black.png" alt="Flatiron Nickname Generator" width="300" height="200">
<h1>Nickname Generator</h1>
<p>Enter your name:</p>
  <form action="/nickname" method="post">
    <input type="text" name="name" class="box">
    <input type="submit" value="Get my nickname!" class="button">
  </form>
</center>
</body>
</html>


