<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=
  Advent+Pro">
  <link rel="stylesheet" type="text/css"href="http://fonts.googleapis.com/css?family=
  Give+You+Glory">
  </head>
  <body>
    <center>
    <p class="type">Name:</p>
    <p class="name"><%= @name %></p>
    <p class="type">Nickname:</p>
    <p class="nickname"><%= @generator.nickname %></p>
    <a href=<%="/"%>>Generate Another Nickname</a>
    </center>
  </body> 
</html>